# Adopted from best practices, using ruff for linting and formatting.

line-length = 100
exclude = [
    ".venv",
    ".mypy_cache",
    ".pytest_cache",
    "__pycache__",
]

select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
]
ignore = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[lint.mccabe] # C901 is from mccabe
max-complexity = 15

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"