name: Lint Markdown and Python

on:
  push:
    branches:
        - main
    paths:
      - '**/*.md'
      - '**/*.py'
  pull_request:
    paths:
      - '**/*.md'
      - '**/*.py'

jobs:
  markdownlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          config: .markdownlint.json
          globs: |
            **/*.md
            !venv

  lint-and-typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org | python3 -

      - name: Install dependencies
        run: make poetry-install

      - name: Lint Python
        run: poetry run ruff check .

      - name: Check Python formatting
        run: poetry run ruff format --check .

      - name: Type check
        run: poetry run mypy .

      - name: Run tests
        run: make test
